// Variables
$color-bg-black: #000;
$color-gray: #afafaf;
$color-orange-hover: #dd7931;
$color-white: white;
$color-gray-light: #bdbdbd;
$color-warning: #ff9b51;
$color-warning-hover: #af6b25;
$color-gray-darker: #333333;
$color-transparent-black: rgba(0, 0, 0, 0.6);
$color-bg-secondary: #ddd;
$color-tab-active: #ff8b38;
$color-black: black;

$font-main: 'Open Sans', sans-serif;
$font-secondary: raleway;

$transition-color: color 0.3s;
$transition-opacity: opacity 0.3s;
$transition-bg-color: background-color 0.3s;

$bg-img-city: url('../img/fondo-ciudad.jpg');
$bg-img-up: url('../img/up.png');
$bg-img-down: url('../img/down.png');
$bg-img-stylish-section: url('../img/background2.jpg');
$bg-img-social: url('../img/redes-sociales.png');

$imgC-width:50px;
$imgC-height:50px;
$imgC-object:cover;
