@charset "UTF-8";
/*Importar Bootstrap*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@300;400&display=swap");
/*Importar variables Sass*/
/*Clases*/
body {
  font-family: "Open Sans Semibold", sans-serif;
}

.bg {
  background-color: #000;
}

.logoimg img {
  max-width: 80px;
  height: auto;
}

.navbar-nav .nav-link {
  color: #afafaf;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #dd7931;
}

.seccion1 {
  background-image: url("../img/fondo-ciudad.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 713px;
}

.hero-logo {
  max-width: 176px;
}

.separator {
  width: 64px;
  height: 2px;
  background-color: white;
}

h2 {
  font-family: raleway;
}

h2.mb-4 {
  font-weight: 400;
  font-size: 36px;
}

.sub-text {
  font-size: 19px;
  line-height: 1.2;
  font-weight: 100;
  font-family: raleway;
}

.form-wrapper {
  width: 300px;
}

.form-wrapper p {
  color: #333333;
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 600;
}

.btn-outline-light {
  border-color: white;
  color: white;
}

button.btn.btn-outline-light.btn-lg.mb-4.cta-button {
  border-radius: 0px;
  border: 2px solid;
  width: 167px;
}

.btn-outline-light:hover {
  background-color: #af6b25;
  border-color: #af6b25;
}

.bg-secondary {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.form-text {
  background-color: #bdbdbd;
  color: #333;
}

.p-elments {
  background-color: #333333;
}

.mp {
  color: #6f6f6f;
}

.form-wrapper .btn-warning {
  background-color: #ff9b51;
  transition: background-color 0.3s;
}

.form-wrapper .btn-warning:hover {
  background-color: #af6b25;
}

.form-control:focus {
  box-shadow: none;
}

.btn-warning {
  background-color: #ff9b51;
}

.btn-warning:hover {
  background-color: #af6b25;
}

.social-section {
  font-family: "Open Sans", sans-serif;
}

.social-title {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.social-description {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.social-link {
  font-size: 24px;
  transition: opacity 0.3s;
}

.social-link:hover {
  opacity: 0.7;
}

.tabs-section {
  font-family: "Open Sans", sans-serif;
}

.tab-button {
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #ff8b38;
}

.tab-content {
  display: none;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.tab-content.active {
  display: block;
}

.content-title {
  margin-bottom: 57px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.content-p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 20px;
}

.col-md-6 h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.col-md-6 p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.col-md-6 h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

img.mb-2 {
  width: 100px;
}

h2.fs-4.mb-2 {
  font-weight: 400;
}

p.mb-4 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.points p {
  font-weight: normal;
  font-size: 14px;
}

/* Estilos para el separador personalizado */
hr {
  border-top: 2px solid #af6b25;
  width: 50px;
}

/* Estilos para los íconos de la lista */
.custom-list-icon {
  width: 100px;
  height: 50px;
  margin-right: 20px;
}

.up {
  background: url("../img/up.png") no-repeat center;
  background-size: contain;
}

.down {
  background: url("../img/down.png") no-repeat center;
  background-size: contain;
}

hr.mx-auto.mb-2 {
  border: 3px solid #dd7931;
}

.stylish-section {
  position: relative;
  background: url("../img/background2.jpg") center center no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.section-title,
.section-description {
  z-index: 2;
  position: relative;
}

.section-hr {
  border-color: white;
  width: 50px;
  margin: auto;
  z-index: 2;
  position: relative;
}

.transparent-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  z-index: 2;
  position: relative;
}

.transparent-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

/* Estilos personalizados */
.section-title {
  font-size: 24px;
}

.footer-description {
  color: white;
  font-size: 10px;
  text-align: center;
}

.section-hr {
  border: 1px solid #dd7931;
  width: 50px;
  margin: auto;
}

.section-description {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

button.btn.orange {
  background-color: #dd7931;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0px;
}

.btn-js {
  border-radius: 0px;
}

/* Estilos para los íconos de redes sociales */
.social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../img/redes-sociales.png");
  background-repeat: no-repeat;
}

.social-link.facebook {
  background-position: 18px 0;
}

.social-link.twitter {
  background-position: -77px 0;
}

.social-link.google {
  background-position: -180px 0;
}

.social-link.pinteres {
  background-position: -272px 0;
}

.social-link.instagram {
  background-position: -375px 0;
}

.social-link.nose {
  background-position: -480px 0;
}

.social-link.wifi {
  background-position: -585px 0;
}

.social-link:hover {
  opacity: 0.7;
}

button.list-group-item.list-group-item-action {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: none;
  background-color: #333333;
  color: white;
  transition: background-color 0.3s;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 0px;
}

button.list-group-item.list-group-item-action.active {
  background-color: #ff8b38;
}

input.form-control,
textarea.form-control {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
}

.content-pf {
  left: 10px;
  bottom: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f5f5f5 #f5f5f5;
  transform: rotate(-45deg);
}

.imgC {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .col-lg-6.d-flex.justify-content-end {
    justify-content: center !important;
  }
}/*# sourceMappingURL=style.css.map */